# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil specific
Project/**/Debug/
Project/RVMDK-*/RTE/
Project/RVMDK-*/DebugConfig/
Project/RVMDK-*/RMP.BAT/
*.uvgui*
*.uvopt*
*.dep
*.TMP
*.axf
*.lnp
*.log
*.log.*
*.build_log.*
*.scvd
*Log.txt
JLinkLog.txt
JLinkSettings.ini

# CCS/Eclipse specific
Project/**/.jxbrowser-data/
Project/**/.metadata/
Project/**/.tempFiles/
Project/**/.jxbrowser.userdata/
Project/**/RemoteSystemsTempFiles/

#MPLAB X specific
Project/MPLAB-*/RMP.X/.generated_files
Project/MPLAB-*/RMP.X/disassembly
Project/MPLAB-*/RMP.X/dist

.cproject
.project
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
Project/MFGCC-XC7Z020/Object/.bin
.gitignore
Project/MFGCC-XC7Z020/Object/5-9.txt
Project/MFGCC-XC7Z020/Object/asm.txt
Project/MFGCC-XC7Z020/Object/BENCHMARK.bin
Project/MFGCC-XC7Z020/Object/rme_kernel.lst
Project/MFGCC-XC7Z020/Object/rme_platform_a7a.lst
Project/MFGCC-XC7Z020/Object/RME.bin
Project/MFGCC-XC7Z020/Object/RME.txt
Project/MFGCC-XC7Z020/Object/start
Project/MFGCC-XC7Z020/Object/USER.bin
